body {
    font-family: georgia;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #F0FFFF;
    background-image: url('https://images.wallpaperscraft.ru/image/single/zatmenie_luna_solntse_129559_1920x1080.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background: #000000;
    color: #F0FFFF;
    padding: 10px 0;
}

header h1 {
    text-align: center;
}
header h2 {
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

main h2 {
   text-align : center;
}

main p {
   text-align : center;
}

main ul {
   text-align : center;
}
main ul {
  list-style-position: inside;    
  text-align: center;
  
}
a {
    color: #00BFFF;
    text-decoration: none;
}